{% extends "layout.html" %}

{% block body %}
<div class="grid-container">
     <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">
            <div>
                <a href="/" class="active">Home</a>
            </div>
            <div>
                <a href="/register/">Register</a>
            </div>
            <div>
                <a href="registered_users">Registered Users</a>
            </div>
        </div>
         <div class="content-with-background-color grid-item-col-1-row-3">
            <p>Welcome</p>
            <p>Kindly input in your informatation to complete user registation</p>
        </div>
     </div>
</div>

{% endblock%}